.logo {
  width: 200px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goodsContainer {
  display: flex;
  flex-direction: column;

}

.goodsCard {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  justify-content: center;
  max-width: 600px;
  height: 200px;
  margin: 5px;

  &>* {
    border: 1px solid black;

  }
}

.goodsHeading {
  font-weight: bold;
}

.goodsPhoto {
  height: 200px;
  min-width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goodsDiscount {
  height: 200px;
  min-width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}